<div class="row marketing">
  <h4>Tabadul training</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui consequatur ipsa est, ratione vero aspernatur sed soluta vel esse dignissimos non at eaque, perferendis culpa nulla, deleniti mollitia minima! Tempora, aperiam. Ad, sint ratione. Quidem, harum aliquid nisi magnam accusantium ipsum, quos dicta nemo debitis quaerat doloremque. Nostrum delectus vel iure quas, minus eligendi quisquam ut doloremque, voluptate laboriosam perspiciatis reprehenderit porro iste ullam nam voluptatibus exercitationem perferendis corrupti fuga non. Magnam odio, atque quos?
  </p>
</div>