<div class="jumbotron">
  <h1>lect02</h1>
  <p class="lead">
    <iframe width="600" height="330" src="https://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
<!DOCTYPE HTML>
<html>
<head>
  <style>
    .divtarget {display: inline-block;width:85px;height:30px;padding:5px;border:1px solid #aaaaaa;}
  </style>
  <script>
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      ev.preventDefault();

      if(ev.target.childNodes.length > 0) {
        return;
      }
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));

      if(document.getElementById("divtarget1").hasChildNodes() && document.getElementById("divtarget2").hasChildNodes())
      {
        document.getElementById("ueberpruefen").removeAttribute("disabled");
      }
    }

    function ueberpruefeTexte () {
      var target1 = document.getElementById("divtarget1").firstElementChild.innerHTML;
      var target2 = document.getElementById("divtarget2").firstElementChild.innerHTML;
      var richtig1 = "worden ist";
      var richtig2 = "dass";
        if(target1 == richtig1 && target2 == richtig2){
          document.getElementById("result").innerHTML = "Alles richtig!";
        }
        else {
          document.getElementById("result").innerHTML = "Leider falsch.";
        }
    }
    document.getElementById("ueberpruefen").onclick = ueberpruefeTexte;
  </script>
</head>
<body>
<h1>Aufgabenstellung</h1>
<p>Bitte fülle die richtigen Wörter in die Lücken.</p>
Der Zug war in die Flussmündung gestürzt,
mit Teilen der mächtigen Brücke, die noch vor wenigen Jahren bei ihrer Einweihung als Wunderwerk
der Technik bestaunt <span id="divtarget1" class="divtarget" ondrop="drop(event)" ondragover="allowDrop(event)"></span>.
Um 7.14 passierte der Zug noch unversehrt den südlichen Brückenkopf,
wie Bahnwärter Sam O´Neill mitteilt. Danach sah er etwas wie einen Feuerstrahl und hörte ebenfalls das Donnern.
"Da wusste ich sofort", sagt O`Neill, "<span id="divtarget2" class="divtarget"  ondrop="drop(event)" ondragover="allowDrop(event)"></span> es der Zug war, und die Brücke am Einstürzen."
So was hab´ ich in all den Winterstürmen der letzten zwanzig Jahre nicht gehört."
<br>
Mögliche Wörter:
<p id="drag1" draggable="true" ondragstart="drag(event)">worden ist</p>
<p id="drag2" draggable="true" ondragstart="drag(event)">wurde</p>
<p id="drag3" draggable="true" ondragstart="drag(event)">dass</p>
<p id="drag4" draggable="true" ondragstart="drag(event)">das</p>
<p id="result"></p>
<p><button class="btn btn-default"type="button" id="ueberpruefen" disabled="disabled" onclick="javascript:ueberpruefeTexte()">Lückentext prüfen</button><a style="float:right" class="btn btn-lg btn-success" ng-href="#/lect2">Zur nächsten Aufgabe.</a></p>
</body>
</html>
