<div class="jumbotron">
  <h1>lect01</h1>
  <p class="lead">
    <iframe width="600" height="330" src="https://www.youtube.com/embed/C0DPdy98e4c" frameborder="0" allowfullscreen></iframe>
  </p>
</div>
<div id="lectholder"><h2>Aufgaben</h2>
  <div id="lect1" class="lect"><p><b>Bitte füllen Sie die richtigen Wörter in die Lücken.</b></p>
  Der Zug war in die Flussmündung gestürzt,
  mit Teilen der mächtigen Brücke, die noch vor wenigen Jahren bei ihrer Einweihung als Wunderwerk
  der Technik bestaunt <span id="divtarget1" class="divtarget" ondrop="drop(event)" ondragover="allowDrop(event)"></span>.
  Um 7.14 passierte der Zug noch unversehrt den südlichen Brückenkopf,
  wie Bahnwärter Sam O´Neill mitteilt. Danach sah er etwas wie einen Feuerstrahl und hörte ebenfalls das Donnern.
  "Da wusste ich sofort", sagt O`Neill, "<span id="divtarget2" class="divtarget"  ondrop="drop(event)" ondragover="allowDrop(event)"></span> es der Zug war, und die Brücke am Einstürzen."
  So was hab´ ich in all den Winterstürmen der letzten zwanzig Jahre nicht gehört."
  <br>
      <br>
  Verbleibende Wörter:
  <i><p id="drag1" draggable="true" ondragstart="drag(event)">worden ist</p></i>
  <i><p id="drag2" draggable="true" ondragstart="drag(event)">wurde</p></i>
  <i><p id="drag3" draggable="true" ondragstart="drag(event)">dass</p></i>
  <i><p id="drag4" draggable="true" ondragstart="drag(event)">das</p></i>

  <p><button class="btn btn-default" type="button" id="ueberpruefen1" disabled="disabled" onclick="ueberpruefeTexte()">Lückentext prüfen</button></p>
  </div>

  <div id="lect2" class="lect ng-hide"><p><b>Bitte wählen Sie die richtigen Aussagen aus.</b></p>
    <form name="myForm" ng-controller="lectCtrl">
      <p>
        <input id="cbx1" type="checkbox">
        Das Ei war vor dem Huhn da.
      </p><br/>
      <p>
        <input id="cbx2" type="checkbox">
        Das Huhn war vor dem Ei da.
      </p><br/>
    </form>
    <p><button class="btn btn-default" type="button" id="ueberpruefen2" onclick="ueberpruefeCheckbox()">Auswahl prüfen</button></p>
  </div>

  <div id="lect3" class="lect ng-hide"><p><b>Bitte sortieren Sie die Wörter in die richtige Reihenfolge.</b></p>
    <form name="myForm" ng-controller="lectCtrl">
      <table width="100%">
        <tr>
          <td widht="50%">
            <ul id="sortList1" class="sortable">
              <li value="1" class="sortableItem">Item 1</li>
              <li value="2" class="sortableItem">Item 2</li>
              <li value="3" class="sortableItem">Item 3</li>
              <li value="4" class="sortableItem">Item 4</li>
            </ul>

          </td>
          <td widht="50%">
            <ul id="sortList2" class="sortable2">
              <li value="1" class="sortableItem">Item 1</li>
              <li value="3" class="sortableItem">Item 3</li>
              <li value="4" class="sortableItem">Item 4</li>
              <li value="2" class="sortableItem">Item 2</li>
            </ul>
            <script>
              $('.sortable').sortable();
              $('.sortable2').sortable();
            </script>
          </td>
        </tr>
      </table>
    </form>
    <p><button class="btn btn-default" type="button" id="ueberpruefen3" onclick="ueberpruefeMatching()">Lösung prüfen</button></p>
  </div>
  <p style="float:left" id="result"></p>
  <a id="btnNextAufgDone" style="float:right;margin-top: 5px;margin-bottom: 5px" class="btn btn-lg btn-success" onclick="naechsteAufgabe()"()>Zur nächsten Aufgabe</a>
</div>
