<div class="jumbotron">
  <h1>Tabadul Training</h1>
  <p class="lead">
    <img src="images/tabadul.png" alt="Tabadul Webtraining"><br>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/lect">Watch the video!</a></p>
</div>

<div class="row marketing">
  <h4>Tabadul training</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt libero nobis consectetur molestias optio magnam, dignissimos hic voluptate delectus culpa vero aliquid corporis quos illo.
  </p>
</div>
